.card-advantages {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 100px;
  border-radius: 10px;
}

.card-advantages--small {
  flex-direction: column;
}

.card-advantages--reverse .card-advantages__content {
  padding: 100px 0 100px 140px;
}

.card-advantages--heavenly {
  background-color: #A8DCFF;
}

.card-advantages--purple {
  background-color: #8CA3FF;
}

.card-advantages--blue {
  background-color: #5E81FF;
}

.card-advantages--grey {
  background-color: #7F8499;
}

.card-advantages--light-grey {
  background-color: #F4F6FA;
}

.card-advantages__content {
  padding: 90px 140px 90px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-advantages__content--short {
  gap: 20px;
}

.card-advantages--small .card-advantages__content {
  padding: 60px 60px 72px;
}

.card-advantages__heading {
  margin: 0 0 20px 0;
  font-size: 32px;
  line-height: 36px;
}

.card-advantages__content--short .card-advantages__heading  {
  margin: 0;
}


.card-advantages--blue .card-advantages__heading {
  color: #fff;
}

.card-advantages--grey .card-advantages__heading {
  color: #fff;
}

.card-advantages__list {
  padding: 0;
  margin: 0 0 0 18px;
  font-size: 18px;
  line-height: 133%;
}

.card-advantages--grey .card-advantages__list {
  color: #fff;
}

.card-advantages__list-item + .card-advantages__list-item {
  margin-top: 16px;
}

.card-advantages__description {
  margin: 0 0 32px 0;
  font-size: 18px;
  line-height: 24px;
}

.card-advantages__content--short .card-advantages__description {
  margin: 0;
}

.card-advantages--blue .card-advantages__description {
  color: #fff;
}

.card-advantages--reverse .card-advantages__description {
  margin: 0;
}

.card-advantages__btn {
  min-width: 234px;
}
