.clients {
    padding: 100px 0 100px 0;
}

.clients__heading {
    max-width: 520px;
    margin: 0 auto 40px auto;
    font-size: 32px;
    line-height: 112%;
    text-align: center;   
}

.clients__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.clients__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #F6F6F6;
}

.clients__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.clients__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.clients__company-name {
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    color: #1E222E;
}

.clients__company-text {
    font-size: 15px;
    line-height: 133%;
    color: #696E82;
}