.footer {
  padding: 40px 0;
  background: #F4F6FA;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 191px 1fr 400px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "left center right"
                       "bottom bottom bottom";
}

.footer__contacts {
  grid-area: left;
  justify-self: start;
  font-size: 13px;
  line-height: 153%;
  color: #6A6E80;
}

.footer__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__contact-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__contact-item + .footer__contact-item {
  margin-top: 16px;
}

.footer__contact-item:last-child {
  gap: 12px;
  margin-top: 24px;
}

.footer__contact-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1E222E;
}

.footer__menu {
  grid-area: center;
  justify-self: center;
}

.footer__menu-list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 340px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px 60px;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 128%;
  color: #1E222E;
}

.footer__info {
  grid-area: right;
  justify-self: start;
  font-size: 13px;
  line-height: 153%;
  color: #6A6E80;
}

.footer__docs-list {
  list-style: none;
  margin: 0 0 32px;
  padding: 0;
}

.footer__doc-item + .footer__doc-item {
  margin-top: 12px;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background:#E3E5EB;
}

.footer__meta-text {
  margin: 32px 0 12px;
}

.footer__meta-date {
  display: block;
  margin-top: 12px;
  font-size: 10px;
  line-height: 120%;
  color: rgba(106, 110, 128, 0.4);
}

.footer__change-lang-link {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 12px;
  gap: 8px;
}

.footer__link-text {
  font-size: 13px;
  line-height: 123%;
  color: #6A6E80;
}

.footer__bottom {
  grid-area: bottom;
}

.footer__location-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  gap: 8px;
}

.footer__location-text {
  font-size: 13px;
  line-height: 153%;
  color: #6A6E80;
}

.footer__location-link {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: start;
}

.footer__location-link-text {
  font-size: 13px;
  line-height: 123%;
  font-weight: 500;
  color: #476BF0;
}